# производим гитигнорирование любого файла или каталога с именем .env , находящегося как в том же, так и в любом дочернем каталоге, относительно текущего .gitignore файла
.env

# производим гитигнорирование любого каталога с именем .vscode , находящегося как в том же, так и в любом дочернем каталоге, относительно текущего .gitignore файла
.vscode/

# производим гитигнорирование рекурсивно всего содержимого и самого каталога с именем d_pg , находящегося только в том же каталоге, что и текущий .gitignore файл
/d_pg/ 

# производим гитигнорирование лишь самого каталога с именем journal , находящегося только в том же каталоге, что и текущий .gitignore файл
./journal/

# производим гитигнорирование рекурсивно всего содержимого и самого каталога с именем wserv , находящегося по указанному пути отностительно того же каталога, что и текущий .gitignore файл
/journal/wserv/
